<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page.title | site.description }}">
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% else %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="renderer" content="webkit">
    <meta name="author" content="{{ site.author }}">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href="{{ site.linkIco }}">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <!-- Twitter summary cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    <meta name="twitter:creator" content="@{{ site.twitter_username }}" />
    {% if page.layout %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}"/>
    <meta property="og:image" content="{{ site.url }}/{{ site.article-img }}"/>
    {% endif %}
</head>