---
---

// 代码块
pre {
    // font-size: 87.5%;
    padding: 10px 15px;
    background-color: #000;
    word-break: break-word;
    overflow-x: auto;
}

pre code {
    color: #fff;
}

// ul列表
ul {
    padding-left: 20px;
    padding-top: 15px;
}

body {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

h3 {
    font-size: 24px;
}

// .container {
//     max-width: 960px;
//     min-height: 100%;
//     position: relative;
//     height: 100%;
// }

// index文章
.article_link {
    $color: #000;
    cursor: pointer;
    color: $color;
    &:hover {
        color: $color;
        text-decoration: none;
    }
}



// post的样式
