---
---

// 代码块
pre {
    // font-size: 87.5%;
    padding: 10px 15px;
    background-color: #000;
    word-break: break-word;
    overflow-x: auto;
}

pre code {
    color: #fff;
    // box-shadow: 0 20px 60px rgba(0, 0, 0, .55);
}

// ul列表
ul {
    padding-left: 20px;
    padding-top: 15px;
}

body {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

h1 {
    padding: 25px 0;
}

h2 {
    padding: 20px 0;
}

h3 {
    padding: 15px 0;
    font-size: 24px;
}

// index文章
.article_link {
    $color: #000;
    cursor: pointer;
    color: $color;
    &:hover {
        color: $color;
        text-decoration: none;
    }
}



// post的样式
