---
---

// 代码块
pre {
    // font-size: 87.5%;
    padding: 10px 15px;
    background-color: #000;
    word-break: break-word;
    overflow-x: auto;
}

pre code {
    color: #fff;
    // box-shadow: 0 20px 60px rgba(0, 0, 0, .55);
}

// ul列表
ul {
    padding-left: 20px;
    padding-top: 15px;
}

body {
    position: relative;
    height: 100%;
    min-height: 100vh;
    font-family: Noto Sans Sliced,Roboto,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
}

h1 {
    margin: 25px 0;
    color: #424242;
    font-weight: 600;
}

h3 {
    padding: 15px 0;
    font-size: 24px;
}

// index文章
.article_link {
    $color: #000;
    cursor: pointer;
    color: $color;
    &:hover {
        color: $color;
        text-decoration: none;
    }
}

.custom-block.warning,
.custom-block.tip {
    padding: .5rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}

.custom-block.warning {
    background-color: rgba(255, 229, 100, .3);
    border-color: #e7c000;
    color: #6b5900;
}

.custom-block.tip {
    background-color: #f3f5f7;
    border-color: #64b5f6;
    color: #424242;
}
// post的样式
