---
---

// 头部样式
.header {
    // $height: 486.6px;
    width: 100%;
    margin-bottom: 60px; // height: $height;
    background-image: url('../../photoes/blog.jpg');
    z-index: 1;

    a {
        $color: #fff;
        font-size: 20px;
        color: #fff;
        &:visited {
            color: $color;
        }
    } 

    .navbar {
        padding-top: 30px;
    }

    @at-root {
        .navbar-collapse {
            flex-direction: column-reverse;

            ul {
                padding-top: 0;

                a {
                    font-size: 14px;
                    font-weight: 700;
                    transition: 0.3s padding ease-in-out;
                }
            }
        }

        .header-title {
            padding: 130px 0;
            color: #fff;
            font-weight: 800;
            font-size: 40px;
            text-align: center;
        }

        @media screen and (max-width: 768px) {
            .navbar-collapse {
                position: absolute;
                width: 100%;
                top: 90px;
                left: 0;
                background-color: #232323;
                z-index: 1;
                ul {
                    padding-left: 20px;
                    li {
                        padding: 0 15px;   
                    }
                }
            }

            .header-title {
                padding: 75px 0;
            }
        }
    }
}

.navbar-toggler {
    border-color: transparent;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
}

// 导航
.nav {

    a {
        text-decoration: none;
    }

    span {
        padding: 5px 15px;
        margin-left: 10px;
        display: block;
        border: 1px solid #eee;
        border-radius: 20px;
        transition: 0.3s all ease-in-out;
        font-size: 15px;
        color: #444;
    }

    span.active {
        color: #fff;
        font-weight: 500;
        background-color: #47c9e5;
    }
}

// 内容
.article {
    padding-top: 30px;
    padding-bottom: 30px;

    @at-root {
        .row {
            margin-bottom: 50px;
        }

        .row .row {
            padding-right: 0;
        }

        @media screen and (min-width: 1200px){
            .card-img-top {
                height: 247px;
            }
        }

        .card-body {
            padding: 32px 42.475px 0;
        }

        .card {
            width: 100%;
            min-height: 372px;
            margin: 10px 5px;
        }

        .card_title {
            padding-top: 10px;
            font-size: 28px;
            font-weight: bold;
        }

        // 分类的css样式
        .card_categories {
            font-size: 16px;
            font-weight: normal;
        }
    }
}

// 页脚样式
$height: 50px;
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: $height;
    line-height: $height;
    color: #fff;
    background-color: #444;
}

// 分页
.pagination {
    padding-bottom: $height + 30px;

    @at-root {
        ul.pagation-list {
            display: table;
            margin: 0 auto;
            list-style: none;
            background-color: #f4f4f4;
            padding: 5px 4px;
            border-radius: 30px;
            border-width: 0px;

            li {
                display: block;
                float: left;
                margin: 0 2px;
                text-align: center;
                transition: 0.3s all ease;

                .page-numbers.active {
                    background-color: #47c9e5;
                    border-radius: 50%;
                    color: #fff;
                    font-weight: 500;
                }

                .page-numbers {
                    $size: 40px;
                    display: block;
                    width: $size;
                    height: $size;
                    line-height: $size;
                    color: #444;
                    font-weight: 400;
                    padding: 0;
                    text-decoration: none;
                    transition: 0.3s all ease;

                    &:hover {
                        @extend .page-numbers.active;
                    }
                }

                .prev,
                .next {
                    @extend .page-numbers;
                    width: auto;
                    padding: 0 5px;

                    &:hover {
                        background-color: transparent;
                        color: #47c9e5;
                    }
                }
            }
        }
    }
}