require('//fonts.googleapis.com/earlyaccess/notosansscsliced.css');
require('//fonts.googleapis.com/css?family=Roboto');
require('//fonts.googleapis.com/css?family=Playfair+Display&display=swap');

:root {
  --main-active-color: #c19426;
  --main-error-color: #f44336;
}
body {
  font-family: 'Roboto', 'Noto Sans SC Sliced', Helvetica, Arial, sans-serif;
}

.home-blog .home-blog-wrapper .info-wrapper .personal-img {
  border-radius 50%
  cursor pointer
  transition 1.4s all

  &:hover {
    transform rotate(360deg)
  }
}