---
---

header {
    $height: 50px;
    margin-bottom: 50px;
    
    padding-left: 20px;
    height: $height;
    line-height: $height;
    background-color: #444;
    a {
       $color: #fff;
       color: #fff;
       &:visited {
        color: $color;
       }
    }
}