<!DOCTYPE html>

<html>

<head>
    {% include head.html %}

<body>
    {% include header.html %}
    <div class="am-container">
        <div class="am-g">
            <div class="am-u-sm-10 am-u-sm-offset-1">
                <article class="am-article">
                    <h1 class="am-article-hd">
                        {{ page.title }}
                    </h1>
                    <div class="am-article-bd">
                        
                        {{ content }}
                        
                    </div>
                
                </article>
            </div>
        </div>
    </div>
    
    {% include footer.html %}
</body>

</html>